= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'card card-md' }) do |f|
  .card-header
    %h4.card-title Profile settings
  .card-body{ data: { controller: 'display-toggle' } }
    = devise_error_messages!
    .mb-2
      = f.label :email
      = f.email_field :email, class: 'form-control', placeholder: 'Email Address'
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      .alert.alert-warning
        = "Currently waiting confirmation for: #{resource.unconfirmed_email}"
    .mb-2
      %a.text-primary{data: { target: 'display-toggle.trigger', action: 'display-toggle#toggleVisibility'}}
        %i.fa.fa-lock
        Change password
    %div.ml-2{data: { target: 'display-toggle.toggled', visible: 'false'} }
      .mb-1
        = f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password'
        %p.form-text.text-muted
          %small Leave password blank if you don't want to change it
      .mb-3
        = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Confirm Password'
    .mb-2
      = f.password_field :current_password, autocomplete: "off", class: 'form-control', placeholder: 'Current Password'
      %p.form-text.text-muted
        %small We need your current password to confirm your changes
    .form-footer
      = f.submit "Save Changes", class: 'btn btn-lg btn-block btn-primary'
