= form_with(model: user, local: true, html: { class: '' }) do |form|
  - if user.errors.any?
    #error_explanation.mb-2
      %h2
        = pluralize(user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - user.errors.full_messages.each do |message|
          %li= message
  .mb-2
    = form.label :email, class: 'form-label'
    = form.text_field :email, class: 'form-control'
  .mb-2
    = form.label :username, class: 'form-label'
    = form.text_field :username, class: 'form-control', placeholder: "must match #{Settings.keyfile_url_pattern}"
  .form-footer
    .d-flex.justify-content-between
      - if user.persisted?
        = link_to 'Destroy', user, method: :delete, class: "btn btn-link text-danger", data: { confirm: 'Are you sure?' }
      = form.submit class: 'btn btn-primary '
      - if user.persisted?
        = link_to "Cancel", user, class: "btn btn-link"
      - else
        = link_to "Cancel", users_path, class: "btn btn-link"
