.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Identifier
        - if defined?(show_user) && show_user
          %th User
        %th SSH Key
        %th
    %tbody
      - ssh_keys.each do |ssh_key|
        = content_tag :tr, id: dom_id(ssh_key), class: dom_class(ssh_key) do
          %td
            = ssh_key.identifier
          - if defined?(show_user) && show_user
            %td= ssh_key.user
          %td
            %pre= ssh_key.key
          %td
            - if ssh_key.user.blank? || (defined?(user) && ssh_key.user == user)
              = link_to [ssh_key], method: :delete, data: { confirm: 'You sure, homie? This will delete the KEY!' } do
                %i.fa.fa-trash
